<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   	<bean id="sqlDao" class="com.library.sql.dao.impl.SQLManager">
    	<constructor-arg value="jdbc:sqlserver://localhost\\SQLEXPRESS:60548;databaseName=Stats;namedPipe=true"/>
    	<constructor-arg value="sa"/>
    	<constructor-arg value="test123"/>
	</bean>
	
	<bean id="getConverter" class="com.library.converters.GetBookJsonConverter"/>
	<bean id="addConverter" class="com.library.converters.AddBookJsonConverter"/>
	<bean id="searchConverter" class="com.library.converters.SearchJsonConverter"/>
	
	<bean id="metaphone" class="com.library.metaphone.Metaphone"/>
	
	
	
	<bean id="getHandler" class="com.library.handlers.GetBookHandler">
		<constructor-arg ref="sqlDao"/>
		<constructor-arg ref="getConverter"/>
	</bean>
	
	<bean id="addHandler" class="com.library.handlers.AddBookHandler">
		<constructor-arg ref="sqlDao"/>
		<constructor-arg ref="addConverter"/>
	</bean>
	
	<bean id="searchHandler" class="com.library.handlers.SearchHandler">
		<constructor-arg ref="sqlDao"/>
		<constructor-arg ref="searchConverter"/>
		<constructor-arg ref="metaphone"/>
	</bean>

</beans>